dist/
www/
loader/
build/
next/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
src/stories
storybook-static
ssl
build-storybook.log
hydrate
.scannerwork
sonarqube/data
.turbo
apps/packages/utils