:host {
  box-sizing: border-box;
  content-visibility: auto;
  contain-intrinsic-size: 20px;
  position: relative;
  div {
    display: flex;
    justify-content: center;
    color: var(--pro-color-primary);
    border: 1px solid #ccc;
    background: #ddd;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    vertical-align: middle;
    // max-width: 100px;
    padding: 5px;
    text-align: center;
    user-select: none;
    -user-select: none;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    visibility: hidden;
  }
  div:hover {
    color: red;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
  }
}
