:host {
  box-sizing: border-box;
  display: inline-block;
  // margin-right: 8px;
  // margin-left: 8px;
  // outline: 1px solid antiquewhite;
  height: fit-content;

  // content-visibility: auto;
  // contain-intrinsic-size: 200px;

  .card-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
