component-gallery {
  box-sizing: border-box;
  display: inline-block;
  background-color: var(--pro-background-color);
  overflow-x: hidden;
  content-visibility: auto;
  contain-intrinsic-size: 100vh;

  h1 {
    color: var(--pro-color-primary);
  }
}
